body {
  background: steelblue;
}

.todo-container {
  width: 35%;
  max-width: 360px;
  margin: 10% auto;
  border: 1px solid teal;
}


@media screen and (max-width: 800px) {
  .todo-container {
    width: 60%;
    margin: 15% auto;
  }
}

@media screen and (max-width: 400px) {
  .todo-container {
    width: 80%;
    margin: 15% auto;
  }
}